
.WelcomeScreen {
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: white;
    background-image:url(./Desktop\ -\ 5.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    }

  

    .h1{
        color: aliceblue;
        margin-top: 8rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        animation: slide-in 2s forwards;
    }

    .h4{
        color: aliceblue;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        animation: slide-in 2s forwards;
    }

    @keyframes slide-in {
        from {
          opacity: 0;
          transform: translateY(200%);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
      .image {
        position: relative;
      }

      .image img {
        position: absolute;
        /* width:500px;
        height:700px; */
        /* left: 1050px; */
        right: 40px;
        top: 15px;
        filter: drop-shadow(0px 8px 9px rgba(244, 242, 242, 0.463));
        animation: rotate 2s forwards;
        
        height: 120px;
        width: 140px;
      
        

      }

      @keyframes rotate {
        from {
          transform: rotate(0deg); 
        }
        to {
          transform: rotate(-33deg); 
        }
      }
       

       
      

    /* .login-button {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    border: 4px solid #494949;
    display: inline-block;
    transition: all 0.4s ease 0s;
    min-width: 10rem;
    margin: 1rem; 
    } */

   .button_cont{
    margin-top: 4rem;
    margin-bottom: 1rem;
    
   }

    .google-btn {
    width: 280px;
    height: 42px;
    margin: 1rem;
    background-color: #4285f4;
    border-radius: 5px;
    /* box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.7); */
  
    filter: drop-shadow(0px 8px 9px rgba(255, 254, 254, 0.406));
    }

    .google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
    }

    .google-btn:active {
        background: #1669f2;
        }

        .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        margin-bottom: 1px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background-color: #fff;
        }

       

        .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: -8px;
        width: 18px;
        height: 18px;
        }
        
        .btn-text {
    /* float:inline-end; */
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    background-color: #4285f4;
    width: 80%;
    height: 50%; 
    text-align: center;
    border: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.847);
    }

    a{
        font-size: 12px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }

    

     .man {
      position: fixed;
      top: 70%;
      left: 5%;
      /* transform: translate(-50%, -50%); */
    }
    
    .slide-in-man {
      position: absolute;
      overflow: hidden;
      filter: drop-shadow(0px 8px 9px rgba(0, 0, 0, 0.25));
      animation: flip-man 2s ease forwards;
      width: 200px;
      height: 150px;
    }
    
    @keyframes flip-man {
      0% {
        opacity: 0;
        transform: perspective(400px) rotateY(-100deg);
      }
      
      100% {
        opacity: 1;
        transform: perspective(400px) rotateY(0);
      }
    }
    
    @media screen and (max-width: 768px) {
      .man {
        top: 70%;
        left: 1%;
        transform: translate(-50%, -70%);
      }

      .slide-in-man {
        width: 150px;
        height: 150px;
      }

      .image img {
        width: 100px;
        height: 90px;
        left: 78%;
        transform: translateX(-50%);
      }
    }
    
    @media only screen and (max-width: 390px) and (max-height: 844px) {
      .man {
        top: 70%;
        left: 1%;
        transform: translate(-50%, -70%);
      }

      .slide-in-man {
        width: 150px;
        height: 150px;
      }

      .image img {
        width: 100px;
        height: 90px;
        left: 65%;
        transform: translateX(-50%);
      } 

      .h1{
        margin-top: 12rem;  
    }

    }

    /* @media screen and (min-width: 768px) {
      .image img {
        width: 100px;
        height: 90px;
        left: 65%;
        transform: translateX(-50%);
      } 
    } */